APP_REPOSITORY_POSTGRES_ADDRESS=localhost:5430
APP_REPOSITORY_POSTGRES_NAME=order_db
APP_REPOSITORY_POSTGRES_USERNAME=order_user
APP_REPOSITORY_POSTGRES_PASSWORD=order_pass

APP_CLIENT_CATALOG_GRPC_ADDRESS=localhost:50051

APP_PROCESSOR_WEB_SERVER_LISTEN_PORT=8082

APP_MONITOR_LOG_LEVEL=debug
APP_MONITOR_ENVIRONMENT=development

APP_MONITOR_SENTRY_ENABLED=false
APP_MONITOR_SENTRY_DSN=

APP_MONITOR_OPEN_TELEMETRY_ENABLED=false
APP_MONITOR_OPEN_TELEMETRY_ADDRESS=localhost:4317
APP_MONITOR_OPEN_TELEMETRY_MAX_QUEUE_SIZE=2048
APP_MONITOR_OPEN_TELEMETRY_MAX_BATCH_SIZE=512
APP_MONITOR_OPEN_TELEMETRY_SEND_BATCH_TIMEOUT=5s
APP_MONITOR_OPEN_TELEMETRY_EXPORT_TIMEOUT=30s
APP_MONITOR_OPEN_TELEMETRY_SAMPLE_RATIO=1

APP_BROKER_KAFKA_ADDRESSES=localhost:9094
APP_BROKER_KAFKA_CONSUMER_GROUP=order-service
APP_BROKER_KAFKA_CLIENT_ID=order-service
APP_BROKER_KAFKA_MODEL_ORDER_CREATED_TOPIC=order.created